
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>FirstBuilding</title>
</head>
<body>

    <div>
        @Html.ActionLink("Main page", "Index")
    </div>

    <div class="text-center">
        <strong>First Building</strong>
    </div>

    <div class="text-center">
        @Html.ActionLink("EngineeringDepartment", "Index", "EngineeringDepartment")
    </div>

</body>
</html>
