
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstBuilding</title>
</head>
<body>

    <div>
        @Html.ActionLink("Main page", "Index");
    </div>

    <div>
        First Building
    </div>

    <div>
        @Html.ActionLink("EngineeringDepartment", "Index", "EngineeringDepartment")
    </div>

</body>
</html>
