
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>University</title>
</head>
<body>

    <div class="text-center">

        <strong>University</strong>

    </div>

    <div class="row">

        <div class="col-6">
            <div class="text-center">
                @Html.ActionLink("FirstBuilding", "FirstBuilding")
            </div>
        </div>

        <div class="col-6">
            <div class="text-center">
                @Html.ActionLink("SecondBuilding", "SecondBuilding")
            </div>
        </div>

    </div>

</body>
</html>
