
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SecondBuilding</title>
</head>
<body>

    <div>
        @Html.ActionLink("Main page", "Index");
    </div>

    <div>
        Second Building
    </div>

    <div>
        @Html.ActionLink("PhilologicalDepartment", "Index", "PhilologicalDepartment")
    </div>

</body>
</html>
